*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , Arial, Helvetica, sans-serif;
}
:root {
    --negro: #000000;
    --azul:#009DDC;
    --blanco:#ffffff;
    --rojo:#C81D25;
    --amarillo:#FFC800;
  }
.contenedor{
    width: 1000px;
    margin: 0 auto;
}
.arreglo{
    clear: both;
}
/*********************************HEADER********************************/
header{
    width: 100%;
    background-color: var(--negro);
}

.header{
    font-size: 50px;
    width: 700px;
    font-weight: 500;
    color: var(--blanco);
    padding: 400px 0;
    padding-left: 200px;
    float: left;
}
header img{
    width: 500px;
    float: right;
    margin-top: 125px;
    margin-right: 200px;
    box-shadow: 10px 1px 100px  #ffffff50;
}
/*********************************PROYECTOS****************************************/
article.proyectos{
    margin: 20px 0 40px 0;
}
article.proyectos h2{
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
}
article.proyectos .categorias{
    display: flex;
    justify-content: space-between;
}
article.proyectos .categorias .web{
    background-image: url(img/webi.png);
}
article.proyectos .categorias .threed{
    background-image: url(img/3d.jpg);
    
}
article.proyectos .categorias div{
    color: var(--negro);
    text-shadow: 0px 0px 10px var(--blanco);
    font-size: 50px;
    text-align: center;
    padding: 80px;
    background-size: cover;
    width: 300px;
    height: 200px;
}
/*********************************Sobre mi****************************************/
.sobremi h2{
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
}
.sobremi article{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.sobremi article div,img{
    width: 400px;
    font-size: 25px;
    text-align: center;
}
.sobremi article div{
    padding: 50px 0;
}
/*********************************footer****************************************/
.pie{
    padding: 50px;
    text-align: center;
    font-size: 30px;
    width: 100%;
    background-color: var(--negro);
    color: var(--azul);
}